body {
    background-color: black !important;
}

#input {
    height: 100px;
    background-color: black;
    border-color: black !important;
    color: whitesmoke;
    font-size: 40px !important;
    overflow: hidden;
    width: 90%;
}

.equal {
    background-color: black !important;
    border-color: none !important;
}

.grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    row-gap: 15px;
}

button {
    background-color: black;
    border: none;
    color: white;
}

.bg {
    height: 70px !important;
    width: 70px !important;
    align-self: center !important;
    color: whitesmoke;
    border: 1px solid black !important;
    border-radius: 50% !important;   
}

.or {
    color: rgb(236, 83, 27) !important;
}

.colordown {
   background-color: rgb(236, 83, 27); 
   box-shadow: orangered !important;
}
